{% extends "body.html" %}

{% block content %}
<div id="content" class="container mt-5">
    <h2 class="text-center">&lt; 사이트 이용자 남,여 비율 &gt;</h2>
<div class="row">
    <div>
        <h2></h2>
        <h2></h2>
    </div>
    <div id="chart_donut"></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(function(){
    // javascript Array로 이런 형식으로 만들 수 있고, 추후 json형식으로 Ajax도 가능하다.
    var chartData = [
    ['남',{{reslist.0}}],
    ['여',{{reslist.1}}],
];
    var chart = c3.generate({
    bindto:'#chart_donut',
    data: {
        // iris data from R
        columns: chartData,
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    }
});
});
</script>
{% endblock content%}