<style>
.login {width:400px; margin:0 auto; padding:15px 20px; box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);}
.login input {width:100%; padding:6px;}
.login .contain {margin-bottom:10px;}
#sendEmail, #inputText { width:78%;}
.login input.confirmBtn,.login input.confirmBtn2 { width:20%;}
.login p {text-align:left; font-weight:bold;}
</style>
<div>
    <div class="text-center">
        <h3>본인 인증</h3>
    </div>
    <div class="login">
        <form class="form auth__form text-center">
            <input type="hidden" id="checkChar" value="2132189sd9fdsj">
            <ul class="contain">
                <li>
                    <p><a href="emailCheck">이메일 인증</a></p>
                </li>
            </ul>
        </form>
    <div class="text-center" id="checkText"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>