
<style>
.login {width:400px; margin:0 auto; padding:15px 20px; box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);}
.login input {width:100%; padding:6px;}
.login .contain {margin-bottom:10px;}
#sendEmail, #inputText { width:78%;}
.login input.confirmBtn,.login input.confirmBtn2 { width:20%;}
.login p {text-align:left; font-weight:bold;}
</style>

<div>
    <div class="text-center">
        <h3>이메일 인증</h3>
    </div>
    <div class="login">
        <div class="form auth__form text-center">
            <input type="hidden" id="checkChar" value="2132189sd9fdsj">
            <ul class="contain">
                <li>
                    <p>이메일</p>
                    <input type="email" placeholder="이메일을 입력해주세요" id="sendEmail">
                    <input type="button" class="confirmBtn" value="전송">
                </li>
            </ul>
            <ul class="contain">
                <li>
                    <input type="text" placeholder="확인 문자를 입력해주세요" id="inputText">
                    <input type="button" class="confirmBtn2" value="확인">
                </li>
            </ul>
        </div>
    <div class="text-center" id="checkText"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
var emailCheck = false;
        $(document).ready(function(){
            $('.confirmBtn').click(function(){
                $.ajax({
                    type: "GET",
                    url:"msgCheck",
                    data:{"sendEmail" : $('#sendEmail').val()},
                    success : function(result){
                        $('#checkChar').val(result);
                        if(result=='fail'){
                        alert('등록된 이메일과 일치하지 않습니다.');
                        }else{
                            alert('인증번호가 전송되었습니다.');
                        }
                    },
                    error : function(a, b, c){
                        alert('이메일 형식이 올바르지 않습니다.');
                    }
                });
            });
            $('.confirmBtn2').click(function(){
                if($('#checkChar').val()==$('#inputText').val()){
                    emailCheck = true;
                    alert('인증되었습니다');
                    window.close();
                    opener.location.href="confirm";
                    opener.alert('지금까지 이용해주셔서 감사합니다.');
                }
                else{
                    $('#checkText').html('인증 실패했습니다');
                    emailCheck = false;
                }
            });
        });

function submitCheck(){
    if(emailCheck){
        return true;
    }else{
        return false;
    }
}


</script>