{% load static %}
<!--
    footer  start
    ============================= -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block wow fadeInLeft" data-wow-delay="200ms">
						<h3>CONTACT <span>INFO</span></h3>
						<div class="info">
							<ul>
								<li>
									<h4><i class="fa fa-phone"></i>Telefone</h4>
									<p>(000) 123 456 78- (000) 123 4567 89</p>

								</li>
								<li>
									<h4><i class="fa fa-map-marker"></i>Address</h4>
									<p>2046 Blue Spruce Lane Laurel Canada</p>
								</li>
								<li>
									<h4><i class="fa fa-envelope"></i>E mail</h4>
									<p>rest@gmail.com - rest@mail.ru</p>

								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- .col-md-4 close -->
				<div class="col-md-4">
					<div class="block wow fadeInLeft" data-wow-delay="700ms">
						<h3>LATEST <span>BLOG POSTS</span></h3>
						<div class="blog">
							<ul>
								<li>
									<h4><a href="#">Nov 9-2014</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit
										sapien</p>
								</li>
								<li>
									<h4><a href="#">Sep 8-2014</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit
										sapien</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- .col-md-4 close -->
				<div class="col-md-4">
					<div class="block wow fadeInLeft" data-wow-delay="1100ms">
						<div class="social-media-link">
						 <h3>차트 <span>CHART</span></h3>
						 <ul>
							<li>
							   <a href="/member/joinChart">
								  <i class="material-icons">show_chart</i>
							   </a>
							   <span>날짜별 회원가입 수</span>
							</li>
							<li>
							   <a href="/login/genderChart">
								  <i class="material-icons">pie_chart</i>
								  <span>회원의 남여 비율</span>
							   </a>
							</li>
							<li>
							   <a href="/recipeBoard/boardChart">
								  <i class="material-icons">donut_small</i>
								  <span>기간별 게시판 제목의 핫키워드</span>
							   </a>
							</li>
							<li>
							   <a href="/ranking/cateHitRanking">
								  <i class="material-icons">donut_large</i>
								  <span>카테고리별 조회수 평균 및 총합</span>
							   </a>
							</li>
							<li>
							   <a href="/mypage/chart">
								  <i class="material-icons">equalizer</i>
								  <span>체류시간 및 페이지 이동 횟수</span>
							   </a>
							</li>
						 </ul>
					  </div>
					</div>
				</div>
				<!-- .col-md-4 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #footer close -->
	<!--
    footer-bottom  start
    ============================= -->
	<footer id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="block">
						<p>Copyright &copy; 2014 - All Rights Reserved.Design and Developed By <a
								href="http://www.themefisher.com">Themefisher</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
<script>
window.addEventListener("beforeunload",function(e){
        $.ajax({
           url:"sessionEnd"
         });
    });
</script>
</body>
</html>